.frosted{
    backdrop-filter: blur(3px);
}

.colorC{
    color: #ccc;
}

.colorAO{
    color: #ea7200;
}

.borderAO{
    border: 1px solid #ea7200;
}

.borderW{
    border: 2px solid #fff; 
}

.bg2{
    background-color: #222;
}

.bgAO{
    background-color: #ea7200;
}

.bgAlpha50AO{
    background-color: rgba(234, 112, 0, 50%);
}

.bgAlpha30B{
    background-color: rgba(0, 0, 0, 30%);
}

.bgAlpha60B{
    background-color: rgba(0, 0, 0, 60%);
}

.bgAlpha80B{
    background-color: rgba(3, 3, 3, 80%);
}

.bgAlpha50W{
    background-color: rgba(170, 170, 170, 50%);
}

.selectedNavItem{
	background-color: rgba(30, 0, 60, 70%);
}