body{
    margin: 0;
    
}

input:focus{
    outline: none;
}

image::selection{
    background-color: transparent;
    color: #000;
}

.disabledLink{
    pointer-events: none;
}

#container{
    display: flex;
    flex-flow: nowrap column;
    margin: 0;
    background-image: url('../img/futureCity.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}